.archer-light {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 400;
  font-style: normal;
}
.archer-light-italic {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 400;
  font-style: italic;
}
.archer-book {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 500;
  font-style: normal;
}
.archer-book-italic {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 500;
  font-style: italic;
}
.archer-medium {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 600;
  font-style: normal;
}
.archer-medium-italic {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 600;
  font-style: italic;
}
.archer-semibold {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 700;
  font-style: normal;
}
.archer-semibold-italic {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 700;
  font-style: italic;
}
.archer-bold {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 800;
  font-style: normal;
}
.archer-bold-italic {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 800;
  font-style: italic;
}
.gotham-extra-light {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 200;
  font-style: normal;
}
.gotham-extra-light-italic {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 200;
  font-style: italic;
}
.gotham-light {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 300;
  font-style: normal;
}
.gotham-light-italic {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 300;
  font-style: italic;
}
.gotham-book {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal;
}
.gotham-book-italic {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: italic;
}
.gotham-medium {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 500;
  font-style: normal;
}
.gotham-medium-italic {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 500;
  font-style: italic;
}
.gotham-bold {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 700;
  font-style: normal;
}
.gotham-bold-italic {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 700;
  font-style: italic;
}
.gotham-black {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 800;
  font-style: normal;
}
.gotham-black-italic {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 800;
  font-style: italic;
}
.gotham-narrow-extra-light {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 200;
  font-style: normal;
}
.gotham-narrow-extra-light-italic {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 200;
  font-style: italic;
}
.gotham-narrow-light {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: normal;
}
.gotham-narrow-light-italic {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: italic;
}
.gotham-narrow-book {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 400;
  font-style: normal;
}
.gotham-narrow-book-italic {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 400;
  font-style: italic;
}
.gotham-narrow-medium {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
}
.gotham-narrow-medium-italic {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: italic;
}
.gotham-narrow-bold {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 700;
  font-style: normal;
}
.gotham-narrow-bold-italic {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 700;
  font-style: italic;
}
.gotham-narrow-black {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 800;
  font-style: normal;
}
.gotham-narrow-black-italic {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 800;
  font-style: italic;
}
.mercury-light {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 300;
  font-style: normal;
}
.mercury-light-italic {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 300;
  font-style: italic;
}
.mercury-book {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: normal;
}
.mercury-book-italic {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: italic;
}
.mercury-medium {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 500;
  font-style: normal;
}
.mercury-medium-italic {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 500;
  font-style: italic;
}
.mercury-bold {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 700;
  font-style: normal;
}
.mercury-bold-italic {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 700;
  font-style: italic;
}
body {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border-top: 5px solid #032236;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 800;
  font-style: normal;
  line-height: 1.4em;
}
h1,
.h1 {
  font-size: 2.2em;
}
h2,
.h2 {
  font-size: 2em;
}
h3,
.h3 {
  font-size: 1.8em;
}
h4,
.h4 {
  font-size: 1.6em;
}
h5,
.h5 {
  font-size: 1.4em;
}
h6,
.h6 {
  font-size: 1.2em;
}
h1.page-title {
  background-color: #333;
  color: #FFF;
  margin: 0px;
  padding: 50px 0;
  text-align: center;
  width: 100%;
}
.section-title {
  color: #333;
  margin: 50px 0 20px 0;
  text-transform: uppercase;
  border-bottom: 1px dashed #aaa;
}
.table-title {
  border-bottom: 1px solid #DDD;
  margin-bottom: 0px;
  padding-left: 10px;
  text-transform: uppercase;
}
.paragraph-title {
  margin-bottom: 0px;
}
a {
  color: #2BABE2;
}
a:visited {
  color: #1a8ec0;
}
a:hover {
  color: #146d93;
}
fieldset {
  border: 1px solid #DDD;
  margin: 0px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
}
legend {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: italic;
  padding: 0 10px;
  color: #999;
}
label {
  display: block;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding-left: .5%;
  padding-right: .5%;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
}
textarea {
  padding-left: .5%;
  padding-right: .5%;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 80px;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
  border-color: #CCC;
}
form {
  font-size: .9em;
}
form input[type="color"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="email"],
form input[type="month"],
form input[type="number"],
form input[type="range"],
form input[type="search"],
form input[type="tel"],
form input[type="text"],
form input[type="time"],
form input[type="url"],
form input[type="week"] {
  padding: 5px 5px;
  border: 1px solid #CCC;
}
form input[type="search"] {
  -webkit-appearance: none;
}
form input[type="submit"],
form input[type="reset"] {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #AAA;
  text-transform: uppercase;
  border: 0px;
  font-size: 1.5em;
  padding: 5px 15px;
  color: #FFF;
}
form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: #2BABE2;
  color: #FFF;
  cursor: pointer;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  border-top: 1px solid #EEE;
}
table.vertical {
  border-top: 1px solid #EEE;
}
table .fa-check {
  color: green;
}
table .fa-times {
  color: #DDD;
}
tr:nth-child(even) {
  background-color: #FEFEFE;
}
th {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
  text-align: left;
  padding: 10px;
  padding-top: 15px;
  background-color: #EEE;
  text-transform: uppercase;
  color: #444;
  line-height: 1em;
  border-bottom: 1px solid #FFF;
}
td {
  text-align: left;
  padding: 10px 10px;
  border-bottom: 1px solid #EEE;
  color: #666;
}
dt {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
  float: left;
  clear: left;
  margin-right: 15px;
}
dd {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: normal;
  margin-left: 30px;
  margin-bottom: 10px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin-bottom: 10px;
}
ul ol,
ul ul,
ol ol,
ol ul {
  margin-top: 10px;
}
ul.none {
  list-style: none;
  margin: 0 0 20px 0;
}
ul.disc {
  list-style-type: disc;
  margin: 0 0 20px 20px;
}
ul.square {
  list-style-type: square;
  margin: 0 0 20px 20px;
}
ul.circle {
  list-style-type: circle;
  margin: 0 0 20px 20px;
}
ol.armenian {
  list-style-type: armenian;
  margin: 0 0 20px 20px;
}
ol.cjk-ideographic {
  list-style-type: cjk-ideographic;
  margin: 0 0 20px 20px;
}
ol.decimal {
  list-style-type: decimal;
  margin: 0 0 20px 20px;
}
ol.decimal-leading-zero {
  list-style-type: decimal-leading-zero;
  margin: 0 0 20px 20px;
}
ol.georgian {
  list-style-type: georgian;
  margin: 0 0 20px 20px;
}
ol.hebrew {
  list-style-type: hebrew;
  margin: 0 0 20px 20px;
}
ol.hiragana {
  list-style-type: hiragana;
  margin: 0 0 20px 20px;
}
ol.hiragana-iroha {
  list-style-type: hiragana-iroha;
  margin: 0 0 20px 20px;
}
ol.katakana {
  list-style-type: katakana;
  margin: 0 0 20px 20px;
}
ol.katakana-iroha {
  list-style-type: katakana-iroha;
  margin: 0 0 20px 20px;
}
ol.lower-alpha {
  list-style-type: lower-alpha;
  margin: 0 0 20px 20px;
}
ol.lower-greek {
  list-style-type: lower-greek;
  margin: 0 0 20px 20px;
}
ol.lower-latin {
  list-style-type: lower-latin;
  margin: 0 0 20px 20px;
}
ol.lower-roman {
  list-style-type: lower-roman;
  margin: 0 0 20px 20px;
}
ol.upper-alpha {
  list-style-type: upper-alpha;
  margin: 0 0 20px 20px;
}
ol.upper-latin {
  list-style-type: upper-latin;
  margin: 0 0 20px 20px;
}
ol.upper-roman {
  list-style-type: upper-roman;
  margin: 0 0 20px 20px;
}
ol.none {
  list-style: none;
  margin: 0 0 20px 0;
}
img {
  max-width: 100%;
}
.photo-caption {
  outline: 1px solid #DDD;
  display: inline-block;
  padding: 3px;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: italic;
}
.caption {
  margin: 0 0 5px 0;
  text-align: center;
  font-size: .8em;
  color: #333;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: italic;
}
strong,
.strong {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
}
pre {
  padding: 10px;
  color: #555;
  background-color: #FAFAFA;
  font-size: .9em;
}
big,
.big {
  font-size: 1.25em;
}
small,
.small {
  font-size: .8em;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 12px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
figure {
  margin: 0;
}
.list-title {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0px;
}
.fine-print {
  font-size: .8em;
  color: #999;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.top {
  vertical-align: top;
}
.middle {
  vertical-align: middle;
}
.bottom {
  vertical-align: bottom;
}
::selection {
  background: #2BABE2;
  color: #FFF;
}
::-moz-selection {
  background: #2BABE2;
  color: #FFF;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
hr {
  height: 1px;
  border: none;
  background-color: #EEE;
}
.width50 {
  width: 49%;
}
.width100 {
  width: 98%;
}
.content {
  width: 1200px;
  margin: auto;
}
.content.mockup {
  border-top: 5px solid #333333;
}
.welcome-notice {
  padding: 10px 0;
  font-size: .8em;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 500;
  font-style: normal;
}
.welcome-notice .welcome {
  display: inline-block;
  padding-right: 20px;
}
.branding .col3-1 {
  width: 33.33%;
  float: left;
  padding: 20px 0;
  display: table-cell;
}
.branding .form-search {
  margin-top: 10px;
  border: 1px solid #BBB;
  padding: 10px;
  color: #AAA;
}
.branding .cart a {
  color: #000;
  text-decoration: none;
}
.branding .cart a:visited {
  color: #000;
}
.branding .cart a:hover {
  color: #1a8ec0;
}
nav {
  border-bottom: 5px solid #333333;
  background-color: #f8f8f8;
}
nav ul {
  display: inline-block;
  width: 100%;
  position: relative;
}
ul.nav li {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0px;
}
ul.nav li.active {
  background-color: #333333;
}
ul.nav li.active a {
  color: #FFF;
}
ul.nav li.active a .fa-caret-down {
  color: #FFF;
}
ul.nav li:hover {
  background-color: #2BABE2;
  color: #FFF;
}
ul.nav li:hover .container {
  display: block;
  position: absolute;
  width: 1200px;
  left: 0px;
  background-color: #f8f8f8;
  border-top: 5px solid #333333;
}
ul.nav li.home a {
  padding-left: 20px;
  padding-right: 20px;
}
ul.nav li.home a.active {
  background-color: #333333;
  color: #FFF;
}
ul.nav li.home a.active:hover {
  background-color: #2BABE2;
}
ul.nav li.home a.active .fa-caret-down {
  color: #FFF;
}
ul.nav li a {
  padding: 10px 10px 7px 10px;
  margin: 0px;
  color: #333;
  text-decoration: none;
  display: inline-block;
}
ul.nav li a .fa-caret-down {
  color: #AAA;
}
ul.nav li a:hover {
  color: #FFF;
}
ul.nav li a:hover .fa-caret-down {
  color: #FFF;
}
ul.nav li .container {
  display: none;
}
ul.nav li .container ul {
  border-right: 1px solid #eee;
  width: 220px;
  margin-top: 0px;
  float: left;
}
ul.nav li .container ul li {
  display: block;
  font-size: 14px;
}
ul.nav li .container ul li a {
  width: 200px;
}
ul.nav li .container ul li .sub-menu {
  display: none;
}
ul.nav li .container ul li .sub-menu ul {
  width: 250px;
  border-right: 0px;
  float: left;
}
ul.nav li .container ul li .sub-menu ul li {
  font-size: .8em;
  margin-left: 10px;
}
ul.nav li .container ul li .sub-menu ul li.list-title {
  font-size: 1.1em;
  padding-top: 10px;
  color: #000;
}
ul.nav li .container ul li .sub-menu ul li.list-title:hover {
  background-color: #f8f8f8;
}
ul.nav li .container ul li .sub-menu ul li a {
  padding: 3px 10px;
  width: 221px;
}
ul.nav li .container ul li:hover .sub-menu {
  display: block;
  position: absolute;
  top: 0px;
  left: 220px;
  height: 473px;
  width: 980px;
}
ul.nav li .container ul li:hover .menus {
  display: block;
  height: 100%;
  width: 250px;
}
ul.nav li .container ul li:hover .graphics {
  position: absolute;
  float: right;
  top: 0px;
  left: 250px;
  display: block;
  width: 739px;
  border-left: 1px solid #eee;
}
.paged {
  text-align: center;
  border-top: 1px dashed #DDD;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.paged.bottom {
  clear: left;
  border-top: 0px;
}
.paged ul {
  margin: 0px;
  padding: 0px;
}
.paged ul li {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 0px;
}
.paged ul li a {
  display: table-cell;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-color: #EEE;
  text-decoration: none;
  color: #666;
}
.paged ul li a.active {
  background-color: #333333;
  color: #FFF;
}
.paged ul li a:hover {
  background-color: #2BABE2;
  color: #FFF;
}
.grid12-1 {
  width: 8.33%;
  float: left;
}
.grid12-2 {
  width: 16.66%;
  float: left;
}
.grid12-3 {
  width: 25%;
  float: left;
}
.grid12-4 {
  width: 33.33%;
  float: left;
}
.grid12-5 {
  width: 41.66%;
  float: left;
}
.grid12-6 {
  width: 50%;
  float: left;
}
.grid12-7 {
  width: 58.34%;
  float: left;
}
.grid12-8 {
  width: 66.67%;
  float: left;
}
.grid12-9 {
  width: 75%;
  float: left;
}
.grid12-10 {
  width: 83.39%;
  float: left;
}
.grid12-10 {
  width: 91.67%;
  float: left;
}
.grid12-12 {
  width: 100%;
  float: left;
}
.grid12-175 {
  width: 11.4%;
  float: left;
}
.page-block {
  clear: right;
}
.grid5-1 {
  width: 20%;
  float: left;
}
.grid5-2 {
  width: 40%;
  float: left;
}
.grid5-3 {
  width: 60%;
  float: left;
}
.grid5-4 {
  width: 80%;
  float: left;
}
.grid5-5 {
  width: 100%;
  float: left;
}
.breadcrumbs {
  margin-top: 20px;
  color: #AAA;
  font-size: 11px;
}
.breadcrumbs a {
  color: #AAA;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #777;
}
.product-category-list .cat-title-container {
  display: block;
  border-bottom: 1px solid #DDD;
  margin-right: 20px;
}
.product-category-list .cat-title-container .cat-title-cell {
  height: 50px;
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}
.product-category-list .cat-title-container .cat-title-cell h2 {
  font-size: 16px;
  margin: 0px;
}
.product-category-list ul.sub-cat-list {
  margin-right: 30px;
}
.product-category-list ul.sub-cat-list li {
  margin: 0;
}
.product-category-list ul.sub-cat-list li a {
  display: block;
  width: 100%;
  border-bottom: 1px solid #DDD;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 0 10px 10px;
  color: #333;
}
.product-category-list ul.sub-cat-list li a:hover {
  background-color: #FAFAFA;
  color: #2BABE2;
}
.cat-section {
  margin-top: 20px;
}
.cat-section .sub-filter-list {
  font-size: 12px;
  margin-top: 10px;
}
.cat-section .sub-filter-list li:before {
  font-family: FontAwesome;
  content: "\f105";
  color: #aaa;
  left: 0;
  padding-right: 10px;
}
.cat-section .sub-filter-list a {
  text-decoration: none;
  color: #000;
}
.cat-section .sub-filter-list a:hover {
  color: #2BABE2;
}
.cat-section .sub-filter-list .quant {
  color: #999;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 300;
  font-style: italic;
}
.cat-section p {
  font-size: 12px;
  margin-right: 20px;
}
.product-category-products.grid5-4 {
  width: 78%;
  margin-left: 2%;
  float: left;
}
.product-category-products .product-title-container {
  display: block;
  border-bottom: 1px solid #DDD;
}
.product-category-products .product-title-container .product-title-cell {
  height: 50px;
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}
.product-category-products .product-title-container .product-title-cell h1 {
  margin: 0px;
  font-size: 26px;
}
.product-category-products .product-title-container .product-category-description {
  font-size: .85em;
  border-top: 1px solid #DDD;
}
.product-category-products .product-title-container .product-category-description h4:first-child {
  margin: 10px 0;
}
.product-cat-info {
  border-bottom: 1px solid #DDD;
  padding: 10px 0;
  margin-bottom: 20px;
}
.product-cat-info .results,
.product-cat-info .sort-by,
.product-cat-info .per-page {
  float: left;
  padding: 0 20px;
}
.product-cat-info .results form,
.product-cat-info .sort-by form,
.product-cat-info .per-page form {
  display: inline-block;
}
.product-cat-info .view-as {
  float: right;
  padding: 0 20px;
}
.product-cat-row {
  clear: right;
}
.product-cat-row .product-container {
  height: 400px;
}
.product-cat-row .product-container:hover {
  box-shadow: 0px 0px 5px #DDD;
}
.product-cat-row .product-container.grid12-3 {
  width: 23%;
  padding: 1%;
}
.product-cat-row .product-container.grid5-1 {
  width: 18%;
  padding: 1%;
}
.product-cat-row .product-container img {
  cursor: pointer;
}
.product-cat-row .product-container h3.product-name {
  font-size: 15px;
  text-align: center;
  margin: 0 0 5px 0;
  cursor: pointer;
}
.product-cat-row .product-container h6.product-name {
  font-size: 12px;
  text-align: center;
  margin: 0 0 5px 0;
  cursor: pointer;
}
.product-cat-row .product-container .product-note {
  font-size: 10px;
  text-align: center;
  color: #777;
  text-transform: uppercase;
}
.product-cat-row .product-container .product-price {
  text-align: center;
  color: #2BABE2;
}
.product-cat-row .product-container .product-add-to-cart {
  text-align: center;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
  padding: 10px;
  background-color: #AAA;
  margin: 10px auto;
  color: #FFF;
  cursor: pointer;
}
.product-cat-row .product-container .product-add-to-cart:hover {
  background-color: #2BABE2;
  color: #FFF;
}
.product-cat-row-view {
  clear: right;
  border-bottom: 1px solid #EEE;
}
.product-cat-row-view:hover {
  box-shadow: 0px 0px 5px #DDD;
}
.product-cat-row-view .product-image-container img {
  cursor: pointer;
}
.product-cat-row-view .grid5-3 {
  width: 58%;
  padding: 1%;
}
.product-cat-row-view .grid5-1 {
  width: 18%;
  padding: 1%;
}
.product-cat-row-view h3.product-name {
  font-size: 18px;
  text-align: left;
  margin: 5px 0 5px 0;
  cursor: pointer;
}
.product-cat-row-view h6.product-name {
  font-size: 12px;
  text-align: center;
  margin: 0 0 5px 0;
  cursor: pointer;
}
.product-cat-row-view .product-note {
  font-size: 12px;
  text-align: left;
  color: #777;
  text-transform: uppercase;
  margin-top: 10px;
}
.product-cat-row-view .product-price {
  text-align: center;
  color: #2BABE2;
  font-size: 22px;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
}
.product-cat-row-view .product-add-to-cart {
  text-align: center;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  width: 60%;
  padding: 10px;
  background-color: #AAA;
  margin: 10px auto;
  color: #FFF;
  cursor: pointer;
}
.product-cat-row-view .product-add-to-cart:hover {
  background-color: #2BABE2;
  color: #FFF;
}
.single-prod-container {
  margin: 10px 0 0 0;
}
.single-prod-image {
  margin-right: 20px;
}
.single-prod-image img {
  padding: 5px;
  border: 1px solid #DDD;
  margin-top: 10px;
}
.prod-img-nav {
  padding: 0 5px;
}
.single-prod-more-img .img {
  width: 30%;
  float: left;
  margin-top: 20px;
}
.single-prod-more-img .nav {
  width: 3%;
  float: left;
  margin-top: 20px;
  padding-top: 45px;
  color: #AAA;
}
.single-prod-more-img .nav:hover {
  color: #000;
  cursor: pointer;
}
.single-prod-info {
  margin: 0px 20px;
}
.single-prod-info .single-prod-data {
  border-bottom: 1px solid #DDD;
}
.single-prod-info h1.single-prod-title {
  margin: 0;
}
.single-prod-info .single-prod-donwloadable {
  margin: 20px 0;
}
.single-prod-info .single-prod-donwloadable a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
}
.single-prod-info .single-prod-donwloadable a:hover {
  color: #333;
}
.single-prod-info .single-prod-quant {
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 10px;
}
.single-prod-info .single-prod-stock-data {
  margin: 10px 0 0 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #DDD;
}
.single-prod-info .single-prod-stock-data .single-prod-availablity {
  float: right;
  font-size: 11px;
  color: #999;
  text-align: right;
}
.single-prod-info .single-prod-stock-data .single-prod-availablity .required {
  color: #2BABE2;
}
.single-prod-info .single-prod-stock-data .single-prod-price {
  color: #2BABE2;
  font-size: 22px;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
}
.single-prod-info .single-prod-stock-data .single-prod-price-breaks {
  font-size: 12px;
  color: #333;
}
.single-prod-info .single-prod-stock-data .single-prod-break-price {
  color: #2BABE2;
}
.single-prod-info .single-prod-stock-data .single-prod-quant-container form {
  display: inline-block;
  padding-left: 10px;
}
.single-prod-info .single-prod-stock-data .single-prod-quant-container form input.quant {
  width: 50px;
  text-align: center;
}
.single-prod-info .single-prod-stock-data .single-prod-unit {
  font-size: 12px;
  color: #999;
  padding-bottom: 10px;
  padding-left: 10px;
  display: inline-block;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: italic;
}
.single-prod-info .single-prod-stock-data .single-prod-quant {
  font-size: 14px;
}
.single-prod-info .single-prod-stock-data .single-prod-add-to-cart-container {
  border: 2px solid #2BABE2;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
}
.single-prod-info .single-prod-stock-data .single-prod-add-to-cart {
  background-color: #2BABE2;
  font-size: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #FFF;
  display: inline-block;
}
.single-prod-info .single-prod-stock-data .single-prod-add-to-cart:hover {
  background-color: #1d9fd6;
}
.single-prod-info .single-prod-stock-data .single-prod-actions {
  margin-top: 20px;
}
.single-prod-info .single-prod-stock-data .single-prod-actions .wishlist,
.single-prod-info .single-prod-stock-data .single-prod-actions .compare,
.single-prod-info .single-prod-stock-data .single-prod-actions .share {
  margin-right: 20px;
  color: #999;
}
.single-prod-info .single-prod-stock-data .single-prod-actions .wishlist:hover,
.single-prod-info .single-prod-stock-data .single-prod-actions .compare:hover,
.single-prod-info .single-prod-stock-data .single-prod-actions .share:hover {
  color: #000;
  cursor: pointer;
}
.single-prod-brand-container {
  padding: 10px 0 10px 20px;
  border-left: 1px solid #EEE;
}
.single-prod-brand-container .single-prod-brand .single-prod-brand-image {
  padding-bottom: 5px;
  border-bottom: 1px solid #EEE;
  margin-bottom: 10px;
}
.single-prod-brand-container .single-prod-brand .single-prod-brand-name {
  text-align: center;
}
.single-prod-brand-container .single-prod-brand-description {
  font-size: 11px;
}
.single-prod-info-tabs-container {
  margin: 100px 20px 30px 0;
}
#single-prod-tabs {
  border-bottom: 1px solid #DDD;
}
#single-prod-tabs ul {
  list-style: none;
}
#single-prod-tabs ul li {
  display: inline-block;
  float: left;
  background-color: #EEE;
  border-right: 1px solid #FFF;
  margin: 0px;
}
#single-prod-tabs ul li:hover {
  background-color: #DADADA;
}
#single-prod-tabs ul li .tab {
  padding: 10px 10px;
  display: inline-block;
  color: #666;
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
#desc-content,
#feat-content,
#specs-content,
#comps-content {
  display: none;
}
#comps-content ul li:before {
  font-family: FontAwesome;
  content: "\f105";
  color: #aaa;
  left: 0;
  padding-right: 10px;
}
.tab-block {
  padding: 20px 0;
}
.tab-block p:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
.tab-block h1:first-child,
.tab-block .h1:first-child,
.tab-block h2:first-child,
.tab-block .h2:first-child,
.tab-block h3:first-child,
.tab-block .h3:first-child,
.tab-block h4:first-child,
.tab-block .h4:first-child,
.tab-block h5:first-child,
.tab-block .h5:first-child,
.tab-block h6:first-child,
.tab-block .h6:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
.single-prod-you-may-also-like {
  margin-right: 20px;
}
.single-prod-you-may-also-like .product-container {
  height: auto;
}
.single-prod-you-may-also-like .product-container .product-add-to-cart {
  font-size: 10px;
}
.single-prod-you-may-also-like .product-container:hover {
  box-shadow: none;
}
.single-prod-related h5.section-title {
  margin-top: 125px;
  border-bottom: 1px solid #DDD;
}
.single-prod-related .product-container {
  height: auto;
}
.single-prod-related .product-container:hover {
  box-shadow: none;
}
.single-prod-related .product-container .product-image {
  padding: 5px;
}
.single-prod-related .product-container .product-name {
  font-size: 16px !important;
}
footer {
  padding-top: 50px;
}
footer input[type="text"],
footer input[type="email"] {
  width: 253px;
}
footer .grid12-3 {
  width: 23%;
  margin: 0 1%;
  float: left;
}
footer h6.section-title {
  margin: 0 0 10px 0;
  padding: 0;
}
footer a {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
  color: #666 !important;
  text-decoration: none;
  font-size: .9em;
  display: inline-block;
  padding: 10px 10px 7px 10px;
  margin-bottom: 10px;
}
footer a:hover {
  background-color: #2BABE2;
  color: #FFF !important;
}
footer .main-footer {
  background-color: #f8f8f8;
  padding: 50px 0 ;
}
footer .main-footer-content {
  background-color: #FFF;
  padding: 20px;
}
footer .main-footer-content a {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 500;
  font-style: normal;
  color: #666 !important;
  text-decoration: none;
  font-size: .9em;
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}
footer .main-footer-content a:hover {
  background-color: #FFF;
  color: #2BABE2 !important;
}
footer .about a {
  color: #2BABE2 !important;
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
  font-weight: 300;
  font-style: normal;
  text-decoration: underline;
  font-size: 1em;
}
footer .about a:visited {
  color: #1a8ec0 !important;
}
footer .about a:hover {
  color: #146d93 !important;
}
footer .copywrite-notice {
  background-color: #EEE;
  padding: 20px 0;
}
footer .copywrite-notice p {
  font-size: .9em;
  color: #AAA;
  margin: 0;
}
footer ul.social-media-boxes {
  margin: 20px 0 0 0;
}
footer ul.social-media-boxes li {
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 10px;
}
footer ul.social-media-boxes a {
  display: table-cell;
  font-size: 1.4em;
  text-align: center;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  background-color: #CCC;
  color: #FFF !important;
}
footer ul.social-media-boxes a:hover {
  color: #FFF !important;
}
footer ul.social-media-boxes a.linkedin:hover {
  background-color: #007bb6 !important;
}
footer ul.social-media-boxes a.facebook:hover {
  background-color: #3b5998 !important;
}
footer ul.social-media-boxes a.twitter:hover {
  background-color: #55ACEE !important;
}
footer ul.social-media-boxes a.gplus:hover {
  background-color: #DD4B39 !important;
}
footer ul.social-media-boxes a.youtube:hover {
  background-color: #CD201F !important;
}
.top-bar {
  background-color: #EEE;
  color: #AAA;
  padding: 10px;
  position: relative;
  z-index: 100000;
}
.tb-title {
  float: right;
}
.tb-pages {
  display: block;
  cursor: pointer;
}
.tb-pages ul {
  display: none;
}
.tb-pages:hover {
  color: #777;
}
.tb-pages:hover ul {
  display: block;
  float: left;
  position: absolute;
  padding: 10px 20px;
  background-color: #EEE;
}
.tb-pages:hover ul a {
  color: #AAA;
  text-decoration: none;
}
.tb-pages:hover ul a:hover {
  color: #777;
}
pre.xmsg-code {
  padding: 10px;
  color: #555;
  background-color: #FAFAFA;
  font-size: .9em;
}
.xmsg-note {
  color: #C4151C;
  font-style: italic;
}
.highlight {
  background-color: yellow;
  padding: 0 3px;
}
.align-right {
  text-align: right;
}
